#logo
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#form
{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

#submitButton
{
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 40px;
	/*background: #246894;*/
	background: black;
	color: #FFFFFF;
	border-radius:5px;
	border-style: groove;
	cursor: pointer;

}

#submitButton h2 {
	text-align: center;
	vertical-align: middle;
	line-height: 5px;
}

input[type="text"]{
	width: 400px;
	height: 40px;
	background: rgb(230, 230, 230);
	border-color: black;
	font-size: 20px;
}

.hover
{
	width: 400px;
}

#graphArea{
	margin-left: auto;
	margin-right: auto;
	color: black;
}

.visualization
{
	margin-left: auto;
	margin-right: auto;
}

#instructions
{
	text-align: center;
	font-family: "Helvetica";
	font-size: 20px;
}

#disclaimer
{
	text-align: center;
	font-family:  "Helvetica";
	font-size: 15px;
}