#logo
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#examples
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#toolBar
{
	height: 100px;
	width: 100%;
	background-color: #FFFFFF
	display: inline;
}

#tableSelectionControls
{
	float: right;
	display: inline;
	width: 200px;
	margin-right: 5px;
}

#tableSelectorText
{
	color: black;
}

#tableSelector
{
	position: absolute;
	margin-top: 20px;

}

#tableSelectionBox
{
	height: 75px;
	width: 200px;
}

#instructions
{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

#visualizationToolbox
{
	width: 100%;
	height: 100%;
	display: none;
	background-color: #FFFFFF;
}

#iconContainer
{
	display: inline-block;
	overflow-x: auto;
}

#iconContainer img
{
	margin-bottom:25px;
	margin-right: 5px;
	cursor: pointer;
}

#optionIconContainer
{
	display: inline-block;
	float: right;
}

#optionIconContainer img
{
	margin-top: 25px;
	margin-right: 5px;
	cursor: pointer;
}

#smallLogo
{
	margin: 5px;
}
#visWrapper
{
	position: relative;

	width: 100%;
	min-width: 100%;

	height: 85%;
	margin: 0px;
	padding:0px;
}

#visualizationContainer
{
	float:left;
	height: 90%;

	overflow:auto;
	
	margin:0px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	background-color: #FFFFFF;

}
#visSVG
{
	display: inline-block;
	padding: 0px;
	margin: 5px;
}
#editVisualization
{
	display: inline-block;
	float: left;
}
#colorPalette
{
    float: left;
}
#colorPalette table
{
	margin-right: auto;
	margin-left: auto;
	display: inline;
}
#colorPalette td
{
    cursor: pointer;
}
#visSize
{
    float: left;
    text-align: left;
}
#visTextOptions
{
	float: left;
	text-align: left;
}

#sPaneDiv
{
	float: left;
	margin-left: 5px;
	width: 5px;
	height: 90%;
	background: lightgrey;
	cursor: ew-resize;
}
#tableContainer
{
	float: left;
	padding:0px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left:5px;
	width: 5px;
	height: 90%;
	overflow: auto;
	background-color: #FFFFFF;

}
/* TABLE FORMATTING */
#DataTable
{	
	font-family: Arial;
	font-size: 11pt;
	border: none;
	background:rgba(0,0,0,0);
	background-color:rgba(0,0,0,0);
}

#DTHead td
{	
	text-align: center;
	vertical-align: middle;
	border-bottom: 0px;
}
#DataTable td:first-child
{
	max-width: 40px;
	min-width: 40px;
}
#DTHead td:nth-child(2)
{	
	border-radius: 5px 0px 0px 0px;
}

#DTHead td:last-child
{	
	border-radius: 0px 5px 0px 0px;
}

#DTHeadEdit th:first-child
{	
	background:rgba(0,0,0,0);
	background-color:rgba(0,0,0,0);
	text-align: center;
	vertical-align: middle;
	border: none;
}

#DataTable td:first-child
{	

	background:rgba(0,0,0,0);
	background-color:rgba(0,0,0,0);
	text-align: right;
	vertical-align: middle;
	border: none;
}

#visExport
{
	display: none;
}

#DTHeadEdit th
{	
	text-align: center;
	vertical-align: middle;
}
#DTCaption
{
	margin-left: 80px;
	text-align: left;
	font-size: 14pt;
	font-weight: bold;
	background-color:rgba(0,0,0,0);
}

#DTSelMatInd th,#DTSelMatD1 th,#DTSelMatD2 th
{
	padding: 0px;
	text-align: center;
	vertical-align: middle;

}
#DTSelMatInd th:first-child
{
	border-radius: 5px 0px 0px 0px;
}
#DTSelMatD2 th:first-child
{
	border-radius: 0px 0px 0px 5px;
}
#DTSelMatInd th:first-child,#DTSelMatD1 th:first-child,#DTSelMatD2 th:first-child
{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 8pt;
	text-align: right;
}
#DTBody
{
	cursor: pointer;
}

.visualization
{
	/*width: 100%;*/
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	/*overflow-x: scroll;*/
}

#visTypeSelection
{
	float: right;
	background-color: white;
	width: 85%;
	height: 60px;
}

#form
{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

#submitButton
{
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 40px;
	background: #FFFFFF;
	background: black;
	color: #FFFFFF;
	border-radius:5px;
	border-style: groove;
	cursor: pointer;

}

#submitButton h2 {
	text-align: center;
	vertical-align: middle;
	line-height: 5px;
}

#form input[type="text"]{
	width: 400px;
	height: 40px;
	background: rgb(230, 230, 230);
	border-color: black;
	font-size: 20px;
}

#instructions
{
	text-align: center;
	font-family: "Helvetica";
	font-size: 20px;
}

#resultsMessage
{
	display: none;
	text-align: center;
	font-family: "Helvetica";
	font-size: 20px;
}

#loadingContent
{
	display: none;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#disclaimer
{
	text-align: center;
	font-family:  "Helvetica";
	font-size: 15px;
}

#submissionNotification
{
	height: 17px;
	text-align: center;
	font-family: "Helvetica";
	font-size: 15px;
	color: red;
}

#colorTableX1
{
	float: left;
	border: solid black 1px;
}
#colorTableX2
{
	float: right;
	border: solid black 1px;
}

.imageButton
{
	cursor: pointer;
}


.iconBorderDefault
{
	border: solid white;
	border-radius: 3px;
}

.iconBorderHighlight
{
	border: groove;
	border-radius: 3px;
}

.colorSquareHighLightOn
{
	border: solid black 2px;
	/*border-radius: 15px;*/
}

.colorSquareHighLightOff
{
	border: solid white 2px;
	/*border-radius: 15px;*/
}

.visualization
{
	background-color: white;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: auto;
	/*border-width: 1px;
	border-radius: 0px;
	border-style: solid;*/
	margin-bottom: 10px;
	padding: 0px;
}

.center
{
	margin-left: auto;
	margin-right: auto;
	background-color: red;
}

.visIcon
{
	float: left;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
	border-style: groove;
	cursor: pointer;
}

.divider
{
	height: 90%;
	width: 2px;
	background-color: black;
	margin: 5px;
	display: inline-block;
}

.hover
{
	width: 400px;
}

.x-axis path
{
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

/*.axis path,*/
/*.axis line,*/
./*y-axis path,
.y-axis line,
.x-axis line 
{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}*/

/*.axis text,*/
/*.x-axis text, 
.y-axis text
{
	font-family: sans-serif;
	font-size: 11px;
}*/

/*.line 
{
	fill: none;
	stroke: black;
}*/

.area
{
	fill: rgb(67, 127, 238);
	stroke: none;
}

.overlay 
{
  fill: none;
  pointer-events: all;
}

.guideline
{
	stroke: black;
}

.label-line
{
	fill: none;
	stroke: black;
	shape-rendering: geometricPrecision;
}


.unselectable 
{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.mButton
{
	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
	font-size: 8pt;
	color: black;
	background: lightgrey;
	padding-left: 5px;
	padding-right: 5px; 	
}
.mButton:hover
{
	background: grey;
	cursor: pointer;
}
