#logo
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#form
{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

#submitButton
{
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 40px;
	/*background: #246894;*/
	background: black;
	color: #FFFFFF;
	border-radius:5px;
	border-style: groove;
	cursor: pointer;

}

#submitButton h2 {
	text-align: center;
	vertical-align: middle;
	line-height: 5px;
}

input[type="text"]{
	width: 400px;
	height: 40px;
	background: rgb(230, 230, 230);
	border-color: black;
	font-size: 20px;
}

.hover
{
	width: 400px;
}

#graphArea{
	margin-left: auto;
	margin-right: auto;
	color: black;
}

.visualization
{
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	border-radius: 0px;
	border-style: solid;
	margin-bottom: 10px;
	padding: 0px;
}

#instructions
{
	text-align: center;
	font-family: "Helvetica";
	font-size: 20px;
}

#resultsMessage
{
	display: none;
	text-align: center;
	font-family: "Helvetica";
	font-size: 20px;
}

#loadingContent
{
	display: none;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#disclaimer
{
	text-align: center;
	font-family:  "Helvetica";
	font-size: 15px;
}

#submissionNotification
{
	height: 17px;
	text-align: center;
	font-family: "Helvetica";
	font-size: 15px;
	color: red;
}

.x-axis path
{
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

.axis path,
.axis line,
.y-axis path,
.y-axis line,
.x-axis line 
{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text,
.x-axis text, 
.y-axis text
{
	font-family: sans-serif;
	font-size: 11px;
}

.line 
{
	fill: none;
	stroke: black;
}

.area
{
	fill: rgb(67, 127, 238);
	stroke: none;
}

.overlay 
{
  fill: none;
  pointer-events: all;
}

.guideline
{
	stroke: black;
}